* {
	@include box-sizing(border-box);
}

body, button, select, input, textarea, label {
	color: $fontColor;
	font-family: $baseFontFamily;
}

h1, h2, h3, h4, h5, h6, fieldset.group > legend:first-child {
	font-weight: normal;
}

.mobile-only { @extend .hidden; }

#container {
	margin: 0 auto;
}
